@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';
@import '../../@theme/themes';

@include nb-install-component() {

    width: 100%;

    .logo-container{
        display: flex;
        align-items: center;
        width: 100%;
        .sidebar-toggle{
            text-decoration: none;
            color: nb-theme(text-hint-color);
            nb-icon {
                font-size: 1.75rem;
            }
            padding-right: 1.25rem;
        }
        .logo{
            border-left: 1px solid #edf1f7;
            padding: 0 1.25rem;
            font-size: 1.75rem;
            white-space: nowrap;
            text-decoration: none;
        }    
    }
    .context-menu{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        .user-action{
            border-left: 1px solid #edf1f7 !important;
        }
    }
}

